.carousel-container{
    display: flex;
    grid-template-columns: 1 fr;
    grid-template-rows: auto;
    gap: 5px;
}

.protect-image{
    pointer-events: none;
    text-decoration: none;
}

.sr-only{
    display: none;
  }
