:root{
  --main-bg: rgb(0,0,0);
  --main-color: rgb(131, 130, 130);
  --content-letter-spacing: 2px;
  --header-letter-spacing: 6px;
}

html,
body {
  padding: 0;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
    font-family: 'Archivo Narrow', sans-serif;
    letter-spacing: 2px;
}

img{
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.main{
  background: var(--main-bg);
}

.sr-only{
  display: none;
}

.wrapper{
  max-width: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "carousel"
    "ad"
    "footer";
  padding: 0px;
  margin: 0 auto;
}

div .column{
  padding: 0px;
  width: 100%;
  max-width: 100%;
}

.row{
  max-width: 100%;
  margin: 0%;
}

.carousel {
  height: 100vh;
  width: 100%;
  overflow:hidden;
}
.carousel .carousel-inner {
  height:100%;    
}

#about{
  padding-top: 100px;
  font-family: 'Archivo Narrow';
  letter-spacing: 2px;
}

.social-container {
  display: flex;
  justify-content: center;
  align-content: center;
  background: var(--main-bg);
  padding: 25px 50px;
}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: whitesmoke;
}