:root{
  --main-bg: rgb(0,0,0);
  --main-color: rgb(131, 130, 130);
  --content-letter-spacing: 2px;
  --header-letter-spacing: 6px;
}

html,
body {
  padding: 0;
  margin: 0;
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;*/
    font-family: 'Archivo Narrow', sans-serif;
    letter-spacing: 2px;
    color: antiquewhite;
}

img{
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main{
  background: var(--main-bg);
}

/* review*/
section {
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.sr-only{
  display: none;
}

.wrapper{
  max-width: 100%;
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "carousel"
    "ad"
    "footer";
  padding: 0px;
  margin: 0 auto;
}



div .column{
  padding: 0px;
  width: 100%;
  max-width: 100%;
}

.row{
  max-width: 100%;
  margin: 0%;
}

.carousel {
  max-height: 100vh;
  height: 100%;
  min-height: 30%;
  width: 100%;
  overflow:hidden;
  margin: auto;
}
.carousel .carousel-inner {
  width: 100%;
  height:100%;
  position: relative;
  justify-content: center;
}

.carousel-item.active{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#about{
  margin:auto;
  display: inline-flex;
  padding: 25px 0px;
  font-family: 'Archivo Narrow';
  letter-spacing: 2px;
}

.social-container {
  display: flex;
  margin: auto;
  justify-content: center;
  align-content: center;
  background: var(--main-bg);
  padding: 25px 50px;
  letter-spacing: 6px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}
a.social:hover {
  transform: translateY(-2px);
}
a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: whitesmoke;
}

.react-photo-gallery--gallery {
  margin-top: 10px
}
.react-photo-gallery--gallery > div > img{
  margin: 10px;
}


.navbar-dark .navbar-nav .nav-link{
  color: antiquewhite;
}

.social-container {
  display: flex;
  position: relative;
  justify-content: center;
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}


section.social-container{
  width: 100%;
}

.social-container  ul {
  list-style: none;
}


.social-container ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;

  float: left;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px 
to align it properly */
.social-container ul li .fa {
  color: antiquewhite;
  margin-top: 18px;
  margin-left: 7px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.social-container ul li:hover.facebook {
  transition: all 0.5s ease;
}

.social-container ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.social-container ul li:hover.twitter {

  transition: all 0.5s ease;
}

.social-container ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.social-container ul li:hover.instagram {

  transition: all 0.5s ease;
}

.social-container ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}


/* whatsapp */
.social-container ul li:hover.whatsapp {
  transition: all 0.5s ease;
}

.social-container ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}


/* media queries */

@media screen and (max-width: 640px){
  .social-container {
      width: 350px;
  }
  .social-container ul li{
      margin-top: 10px;
  }
  .social-container ul li.google{
      margin-left: 60px;
  }
}


@media screen and (max-width: 340px){
  .social-container {
      width: 150px;
  }
  .social-container ul li{
      margin:15px;
  }
  .social-container ul li.google{
      margin-left: 15px;
  }
}

.fade-in-section {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.fade-in-section > #about {
  opacity: 0;
  transform: translateX(-20vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform 1s;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible > #about{
  opacity: 1;
  transform: none;
  visibility: visible;
}

.fade-in-section.is-visible > #about{
  opacity: 1;
  transform: none;
  visibility: visible;
}

.fade-in-section > .react-photo-gallery--gallery > div > img {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;
}

.fade-in-section.is-visible > .react-photo-gallery--gallery > div > img{
  opacity: 1;
  transform: none;
  visibility: visible;
}

.fade-in-section.is#test

.navbar-toggler-icon {
  color: antiquewhite;
}


.eager-load{
    /* Prevent vertical gaps */
    line-height: 0;
   background-color: black;
    -webkit-column-count: 4;
    -webkit-column-gap:   10px;
    -moz-column-count:    4;
    -moz-column-gap:      0px;
    column-count:         4;
    column-gap:           10px;  
    margin: 15px;
    cursor: pointer;
}

img.load-daddy {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin-bottom: 15px !important;
}

@media (max-width: 1200px) {
.eager-load {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
.eager-load {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .eager-load{
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .eager-load{
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-arrow{
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 2.25rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow{
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 2.25rem;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}